<nav class="navbar navbar-expand-sm navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav">
    <div class="navbar-nav">
      <div class="nav-item nav-link section1">Section 1</div>
      <div (mouseover)="title='All you can eat'" (mouseleave)="title='Section 2'" class="nav-item nav-link section2 dropdown">
        <span>{{title}}</span>
        <div class="dropdown-content">
          <div *ngIf="!more">
            <ul>
              <li>
                <a [routerLink]="['/', 'Instant soups']">Instant soups</a>
              </li>
              <li>
                <a [routerLink]="['/', 'Fruit']">Fruit</a>
              </li>
              <li>
                <a [routerLink]="['/', 'Hot Dogs']">Hot dogs</a>
              </li>
              <li>
                <a [routerLink]="['/', 'Top Raman Noodles']">Top Raman Noodles</a>
              </li>
              <li>
                <a [routerLink]="['/', 'Gorp,trail mix']">Gorp, trail mix</a>
              </li>
              <li>
                <a [routerLink]="['/', 'Cheese']">Cheese</a>
              </li>
            </ul>
            <a class="more" (click)="getMore();">more</a>
          </div>
          <div *ngIf="more">
            <ul>
              <li *ngFor="let dish of dishes?.dishes">
                <a [routerLink]="['/', dish.name]">{{dish.name}}</a>
              </li>
            </ul>
            <a class="more" href="#" (click)="more=false">less</a>
          </div>
        </div>
      </div>
      <div class="nav-item nav-link section3">Section 3</div>
      <app-login></app-login>
      <a class="nav-item nav-link section4">Section 4</a>
    </div>
  </div>
</nav>